body {
    padding: 2% 12%;
    /* background-color: #f9f9f9; */
    background-image: url(images/tweed_@2X.png);
}

.buttonRow {
    margin: 10px 2% 15px 0;
    max-width: 92vw;
    height: auto;
    position: relative;
    clear: both;
}

button {
    font-size: 1vw !important;
    margin-right: 2%;
    margin-bottom: 12px;
    width: 4.6vw;
    float: left;
    background-color: #f8f9fa;
}

#buttonMessage,
#notSymbol {
    color: #f8f9fa;
    font-size: 2vw;
    /* transform: translateY(-1vh); */
}

#notSymbol {
    display: none;
    transform: translateY(-3vh)
}

form {
    clear: both;
}

#stockInput, 
#addStock{
    padding-left: 3px;
    margin: 10px 1% 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    float: left;
}

#addStock{
    color: #17a2b8;
    border: 1px solid #f8f9fa;
}

.card-body {
    background-color: #fff;
    margin: 4% 0 0;
    border: solid 2px #aaa;
    border-radius: 10px;
    /* background-image: url(images/tweed_@2X.png); */
}


img {
    max-height: 60px;
    width: auto;
}

@media only screen and (max-width: 1024px) {
    body {
        padding: 5% 5%;
    }

    button {
        font-size: 2vw !important;
        margin-right: 2%;
        margin-bottom: 12px;
        width: 12vw;
        float: left;
        background-color: #f8f9fa;
    }
    #notSymbol {
        transform: translate(2vw, 1vh);
        font-size: 3vw;
    }
    #stockInput, 
    #addStock{
    padding-left: 3px;
    margin: 10px 1% 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #f8f9fa;
    float: none;
}
    .killDiv {
        transform: translateY(2vh);
    }
}